.container{
    height: 100vh;
    display: flex; 
    justify-content: center; /*centraliza na horizontal*/
    align-items: center; /*centraliza na vertical*/
    background-color: azure;

}
